<template>
  <div class="container_header"> 
    <div class="header_elements" >
      <transition name="fade">
        <!-- <MenuOpenPages v-if="menuOpen" :clicked="clicked"></MenuOpenPages> -->
        <!-- <MenuOpenPages 
          v-show="menuOpen" 
          :menuOpen="menuOpen" 
          @mouseOver="mouseOver($event)"
          @clicked="clicked($event)">
        </MenuOpenPages> -->
      </transition>
        <div class="les_boulettes">  
          <nuxt-link exact to="/">
            <img class="logo_size" src="/img-accueil/logo_black.svg" alt="">
          </nuxt-link>
          <!-- <svg 
                @click="clicked"
                v-on:mouseover="mouseOver"
                v-show="!menuOpen" class="" width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                          <g id="M---MENU" transform="translate(-695.000000, -97.000000)">
                              <path d="M720,97 C733.807119,97 745,108.192881 745,122 C745,135.807119 733.807119,147 720,147 C706.192881,147 695,135.807119 695,122 C695,108.192881 706.192881,97 720,97 Z M719.2273,119 C718.739447,119 718.31007,119.108597 717.939168,119.325792 C717.568266,119.542987 717.27923,119.84706 717.072059,120.23801 C716.864889,120.628961 716.761304,121.08507 716.761304,121.606337 C716.761304,122.134288 716.86656,122.592068 717.077071,122.979677 C717.287583,123.367286 717.576619,123.669688 717.94418,123.886883 C718.31174,124.104078 718.732764,124.212675 719.207251,124.212675 C719.795348,124.212675 720.278188,124.060639 720.655773,123.756566 C720.979417,123.495932 721.213456,123.177607 721.357889,122.801591 L721.422638,122.608775 L720.590615,122.608775 C720.483688,122.882775 720.313274,123.099969 720.079372,123.260359 C719.84547,123.420749 719.554763,123.500944 719.207251,123.500944 C718.939934,123.500944 718.687654,123.437457 718.450411,123.310481 C718.213167,123.183506 718.016021,122.994713 717.858973,122.744104 C717.728099,122.535263 717.644794,122.281173 717.609059,121.981834 L717.593327,121.796801 L721.552955,121.796801 C721.552955,121.70324 721.554626,121.619703 721.557967,121.546191 C721.561308,121.472679 721.562979,121.399167 721.562979,121.325655 C721.562979,120.917997 721.469418,120.537071 721.282297,120.182876 C721.095175,119.828682 720.826188,119.542987 720.475335,119.325792 C720.124481,119.108597 719.70847,119 719.2273,119 Z M729.141407,119.120292 L728.299359,119.120292 L728.299359,122.027361 C728.299359,122.769165 728.473115,123.318835 728.820627,123.676371 C729.168138,124.033907 729.635942,124.212675 730.224039,124.212675 C730.604965,124.212675 730.947465,124.122456 731.251537,123.942017 C731.504931,123.791651 731.706115,123.594876 731.855088,123.351693 L731.938207,123.200213 L731.998353,124.092382 L732.760206,124.092382 L732.760206,119.120292 L731.918158,119.120292 L731.918158,121.696557 C731.918158,122.271288 731.776146,122.714031 731.492122,123.024787 C731.208099,123.335542 730.848892,123.49092 730.414502,123.49092 C729.615697,123.49092 729.1928,123.032134 729.145812,122.114563 L729.141407,121.937142 L729.141407,119.120292 Z M713.743967,119 C713.389772,119 713.060639,119.086878 712.756566,119.260634 C712.452493,119.43439 712.213579,119.671633 712.039823,119.972364 C711.886116,119.644901 711.66725,119.400975 711.383227,119.240585 C711.099203,119.080195 710.760045,119 710.365752,119 C710.031607,119 709.730875,119.073512 709.463559,119.220536 C709.249705,119.338156 709.070069,119.494269 708.924648,119.688875 L708.821999,119.842047 L708.761852,119.120292 L708,119.120292 L708,124.092382 L708.842047,124.092382 L708.842047,121.516118 C708.842047,120.941387 708.974035,120.498644 709.23801,120.187888 C709.501985,119.877133 709.831119,119.721755 710.225411,119.721755 C710.61302,119.721755 710.91041,119.852072 711.117581,120.112706 C711.298855,120.34076 711.400821,120.66603 711.423481,121.088516 L711.428336,121.275533 L711.428336,124.092382 L712.270384,124.092382 L712.270384,121.516118 C712.270384,120.941387 712.402371,120.498644 712.666346,120.187888 C712.930322,119.877133 713.262797,119.721755 713.663772,119.721755 C714.051381,119.721755 714.348771,119.852072 714.555941,120.112706 C714.737215,120.34076 714.839182,120.66603 714.861841,121.088516 L714.866697,121.275533 L714.866697,124.092382 L715.69872,124.092382 L715.69872,121.185314 C715.69872,120.44351 715.521623,119.89384 715.167428,119.536304 C714.813233,119.178768 714.338746,119 713.743967,119 Z M725.201827,119 C724.820901,119 724.480072,119.090219 724.179341,119.270658 C723.928732,119.421024 723.726852,119.617799 723.573702,119.860982 L723.487659,120.012462 L723.437537,119.120292 L722.675685,119.120292 L722.675685,124.092382 L723.517732,124.092382 L723.517732,121.516118 C723.517732,120.941387 723.659744,120.498644 723.943768,120.187888 C724.227792,119.877133 724.583657,119.721755 725.011364,119.721755 C725.816459,119.721755 726.242686,120.180541 726.290044,121.098112 L726.294484,121.275533 L726.294484,124.092382 L727.136532,124.092382 L727.136532,121.185314 C727.136532,120.44351 726.961105,119.89384 726.610252,119.536304 C726.259399,119.178768 725.789924,119 725.201827,119 Z M719.207251,119.711731 C719.628275,119.711731 719.982469,119.838706 720.269835,120.092657 C720.5572,120.346608 720.710907,120.697461 720.730956,121.145216 L717.603351,121.145216 C717.650132,120.677412 717.8289,120.321547 718.139655,120.07762 C718.450411,119.833694 718.806276,119.711731 719.207251,119.711731 Z" id="Combined-Shape"></path>
                          </g>
                      </g>
                </svg> -->


            <div class="need_for_scroll">
            <nuxt-link exact to="/">
            <svg class="logo_in_black_none" width="43px" height="43px" viewBox="0 0 43 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="M---HP" transform="translate(-699.000000, -2074.000000)" fill="#000000">
                        <g id="FOOTER-Copy" transform="translate(0.000000, 1974.000000)">
                            <path d="M720.447721,100 C732.292971,100 741.895443,109.602472 741.895443,121.447721 C741.895443,133.292971 732.292971,142.895443 720.447721,142.895443 C708.602472,142.895443 699,133.292971 699,121.447721 C699,109.602472 708.602472,100 720.447721,100 Z M728.970258,119.760473 L717.44504,119.760473 L717.44504,136.375335 L719.695794,136.375335 L719.695794,128.82004 L727.850536,128.82004 L727.850536,126.840734 L719.695794,126.840734 L719.695794,121.79633 L728.970258,121.79633 L728.970258,119.760473 Z M721.060573,108.579089 L713.584451,108.579089 L713.584451,125.193951 L715.835205,125.193951 L715.835205,118.170241 L721.060573,118.170241 L721.351472,118.165251 C722.878926,118.112026 724.022325,117.633001 724.781669,116.728175 C725.588472,115.766798 725.991873,114.637651 725.991873,113.340734 C725.991873,111.832691 725.539461,110.662073 724.634635,109.828879 C723.790131,109.051232 722.696029,108.636486 721.352329,108.584643 L721.352329,108.584643 L721.060573,108.579089 Z M720.314092,110.513154 C721.181217,110.513154 721.863606,110.630027 722.36126,110.863774 C723.266086,111.301106 723.718499,112.13053 723.718499,113.352044 C723.718499,114.437835 723.403695,115.195627 722.774087,115.625419 C722.144479,116.055211 721.324481,116.270107 720.314092,116.270107 L720.314092,116.270107 L715.835205,116.270107 L715.835205,110.513154 Z" id="PASTILLE"></path>
                        </g>
                    </g>
                </g>
            </svg>
            </nuxt-link>
          
          <!-- <svg 
          @click="clicked"
          v-on:mouseover="mouseOver"
          v-show="!menuOpen" class="menu_in_black_none" width="50px" height="50px" viewBox="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Page-1" stroke="none" stroke-width="1" fill-rule="evenodd">
                    <g id="M---MENU" transform="translate(-695.000000, -97.000000)">
                        <path d="M720,97 C733.807119,97 745,108.192881 745,122 C745,135.807119 733.807119,147 720,147 C706.192881,147 695,135.807119 695,122 C695,108.192881 706.192881,97 720,97 Z M719.2273,119 C718.739447,119 718.31007,119.108597 717.939168,119.325792 C717.568266,119.542987 717.27923,119.84706 717.072059,120.23801 C716.864889,120.628961 716.761304,121.08507 716.761304,121.606337 C716.761304,122.134288 716.86656,122.592068 717.077071,122.979677 C717.287583,123.367286 717.576619,123.669688 717.94418,123.886883 C718.31174,124.104078 718.732764,124.212675 719.207251,124.212675 C719.795348,124.212675 720.278188,124.060639 720.655773,123.756566 C720.979417,123.495932 721.213456,123.177607 721.357889,122.801591 L721.422638,122.608775 L720.590615,122.608775 C720.483688,122.882775 720.313274,123.099969 720.079372,123.260359 C719.84547,123.420749 719.554763,123.500944 719.207251,123.500944 C718.939934,123.500944 718.687654,123.437457 718.450411,123.310481 C718.213167,123.183506 718.016021,122.994713 717.858973,122.744104 C717.728099,122.535263 717.644794,122.281173 717.609059,121.981834 L717.593327,121.796801 L721.552955,121.796801 C721.552955,121.70324 721.554626,121.619703 721.557967,121.546191 C721.561308,121.472679 721.562979,121.399167 721.562979,121.325655 C721.562979,120.917997 721.469418,120.537071 721.282297,120.182876 C721.095175,119.828682 720.826188,119.542987 720.475335,119.325792 C720.124481,119.108597 719.70847,119 719.2273,119 Z M729.141407,119.120292 L728.299359,119.120292 L728.299359,122.027361 C728.299359,122.769165 728.473115,123.318835 728.820627,123.676371 C729.168138,124.033907 729.635942,124.212675 730.224039,124.212675 C730.604965,124.212675 730.947465,124.122456 731.251537,123.942017 C731.504931,123.791651 731.706115,123.594876 731.855088,123.351693 L731.938207,123.200213 L731.998353,124.092382 L732.760206,124.092382 L732.760206,119.120292 L731.918158,119.120292 L731.918158,121.696557 C731.918158,122.271288 731.776146,122.714031 731.492122,123.024787 C731.208099,123.335542 730.848892,123.49092 730.414502,123.49092 C729.615697,123.49092 729.1928,123.032134 729.145812,122.114563 L729.141407,121.937142 L729.141407,119.120292 Z M713.743967,119 C713.389772,119 713.060639,119.086878 712.756566,119.260634 C712.452493,119.43439 712.213579,119.671633 712.039823,119.972364 C711.886116,119.644901 711.66725,119.400975 711.383227,119.240585 C711.099203,119.080195 710.760045,119 710.365752,119 C710.031607,119 709.730875,119.073512 709.463559,119.220536 C709.249705,119.338156 709.070069,119.494269 708.924648,119.688875 L708.821999,119.842047 L708.761852,119.120292 L708,119.120292 L708,124.092382 L708.842047,124.092382 L708.842047,121.516118 C708.842047,120.941387 708.974035,120.498644 709.23801,120.187888 C709.501985,119.877133 709.831119,119.721755 710.225411,119.721755 C710.61302,119.721755 710.91041,119.852072 711.117581,120.112706 C711.298855,120.34076 711.400821,120.66603 711.423481,121.088516 L711.428336,121.275533 L711.428336,124.092382 L712.270384,124.092382 L712.270384,121.516118 C712.270384,120.941387 712.402371,120.498644 712.666346,120.187888 C712.930322,119.877133 713.262797,119.721755 713.663772,119.721755 C714.051381,119.721755 714.348771,119.852072 714.555941,120.112706 C714.737215,120.34076 714.839182,120.66603 714.861841,121.088516 L714.866697,121.275533 L714.866697,124.092382 L715.69872,124.092382 L715.69872,121.185314 C715.69872,120.44351 715.521623,119.89384 715.167428,119.536304 C714.813233,119.178768 714.338746,119 713.743967,119 Z M725.201827,119 C724.820901,119 724.480072,119.090219 724.179341,119.270658 C723.928732,119.421024 723.726852,119.617799 723.573702,119.860982 L723.487659,120.012462 L723.437537,119.120292 L722.675685,119.120292 L722.675685,124.092382 L723.517732,124.092382 L723.517732,121.516118 C723.517732,120.941387 723.659744,120.498644 723.943768,120.187888 C724.227792,119.877133 724.583657,119.721755 725.011364,119.721755 C725.816459,119.721755 726.242686,120.180541 726.290044,121.098112 L726.294484,121.275533 L726.294484,124.092382 L727.136532,124.092382 L727.136532,121.185314 C727.136532,120.44351 726.961105,119.89384 726.610252,119.536304 C726.259399,119.178768 725.789924,119 725.201827,119 Z M719.207251,119.711731 C719.628275,119.711731 719.982469,119.838706 720.269835,120.092657 C720.5572,120.346608 720.710907,120.697461 720.730956,121.145216 L717.603351,121.145216 C717.650132,120.677412 717.8289,120.321547 718.139655,120.07762 C718.450411,119.833694 718.806276,119.711731 719.207251,119.711731 Z" id="Combined-Shape"></path>
                    </g>
                </g>
          </svg> -->
            </div>
        </div>
      <p v-for="m in micronutrition" :key="m.id" class="title_under_logo">{{m.acf.description_logo}}</p>
      <!-- <div>
        <ul>
          <li v-for="m in menu" :key="m.id">
            <nuxt-link :to="'/' + m.slug">{{m.title}}</nuxt-link>
          </li>
        </ul>
      </div>  -->
    </div>
  </div>

</template>

<script>
import { mapState } from 'vuex';
// import MenuOpenPages from '@/components/MenuOpenPages.vue';s
  export default {


    // data: function () {
    //   return {
    //     menuOpen: false,
    //   }
    // },
    components: {
      // MenuOpenPages
    },
    computed: {
      ...mapState([
        "micronutrition"
      ])
      
    },
    


    mounted() {
      const header = document.querySelector('.container_header');
      window.onscroll = () => {
        let top = window.scrollY;
        if(top > 10) {
          header.classList.add('active')
        } else {
          header.classList.remove('active')
        }
      }
    },

    methods: {
      
        mouseOver: function(){
          if(window.matchMedia("(max-width: 758px)").matches) {
            !this.menuOpen
          } else {
            this.menuOpen = !this.menuOpen;  
          }
        },
        clicked: function(){
          if(window.matchMedia("(max-width: 758px)").matches) {
            this.menuOpen = !this.menuOpen; 
          } else {
            this.menuOpen = !this.menuOpen; 
          }
        },
        
    }



  }
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s ease-out;
}
.fade-enter, .fade-leave-to  {
  opacity: 0;
}
////////////////// ActiveMenu

.nuxt-link-exact-active::before {
    content: " ";
    -webkit-mask: url("/img-accueil/point-grey.svg") no-repeat 20% 20%;
    mask: url("/img-accueil/point-grey.svg") no-repeat 20% 20%;
    -webkit-mask-size: auto 6px;
    mask-size: auto 6px;
    background-image:  url("/img-accueil/point-grey.svg");
    background-color: #EDCEAD;
    background-repeat: no-repeat;
    background-size: 0px;
    padding: 1.3888888888888888VW;
    position: absolute;
    top: 40px;
    left: 40%;
}

a {
  color: #3A3A3A;
  position: relative;
}

////////////////// Scroll Menu

.container_header.active {
  .header_elements {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #3A3A3A;
    min-height: 31.944444444444443VW;
    /* background: #F0F0F0; */
    /* background: orange; */
    font-size: 1.1111111111111112vw;
    div {
        display: flex;
      align-items: center;
      justify-content: center;
      color: #3A3A3A;
        /* padding-bottom: 6.805555555555555VW; */
        ul {
          padding-left: 0;
          width: 38.819vw;
          display: flex;
          justify-content: space-around;
          opacity: 0;
          transform: translateY(-20px);
          transition: .5s all;
          
          li {
            display: inline-block;
          }
        }
      }
    .les_boulettes{
      .need_for_scroll {
      position: fixed;
      top: 0;
      left: 50%;
      display: flex;
      justify-content: center;
      transform: translate(-50%);
      width: 24.166666666666668VW;
      padding: 4.013888888888889VW 20px 0 20px;
      /* transition: 2s all; */
      opacity: 1;
      transition: visibility .5s, opacity .5s linear;
      visibility: visible;
        svg { 
          width: 2.986111111111111VW;
          }
      }
      
        svg {
          #Page-1 {
            #M---MENU {
              fill: #3A3A3A;
            }
          }
        }
      }
    .logo_size {
      display: block;
      opacity: 0;
      transform: translateY(-20px);
      transition: visibility 0s, opacity .5s linear, transform .5s;
    }
    .title_under_logo {
      display: block;
      opacity: 0;
      transform: translateY(-20px);
      transition: visibility 0s, opacity .5s linear, transform .5s;
      visibility: visible;
    }

    .logo_in_black_none {
      opacity: 1;
      visibility: visible;
      transition: visibility .5s, opacity .5s linear;
    }
    .menu_in_black_none {
      opacity: 1;
      visibility: visible;
      transition: visibility .5s, opacity .5s linear;
      cursor: pointer;
    } 
  }
}


//////////////////////////////
.container_header {
  .header_elements {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #3A3A3A;
    min-height: 31.944444444444443VW;
    /* background: #F0F0F0; */
    /* background: orange; */
    font-size: 1.1111111111111112vw;
    .need_for_scroll {
        position: fixed;
        top: 0;
        left: 50%;
        display: flex;
        justify-content: space-between;
        transform: translate(-50%);
        width: 24.166666666666668VW;
        padding: 4.013888888888889VW  20px 0 20px;
        opacity:0;
        transition: visibility .5s, opacity .5s linear;
        visibility: hidden;
        svg {
          width: 2.986111111111111VW;
          g {
            fill: "#000000";
          }
        }
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #3A3A3A;
      /* padding-bottom: 6.805555555555555VW; */
      ul {
        padding-left: 0;
        width: 38.819vw;
        display: flex;
        justify-content: space-around;
        transform: translateY(0px);  
        opacity: 1;
        transition: transform .5s, opacity .5s linear;
        
        li {
          display: inline-block;
        }
      }
    }
    .logo_size {
      width: 14.166666666666666VW;
      padding-top: 4.013888888888889VW;
      display: initial;
      margin: 0 46.59722222222222VW 0 39.30555555555556VW;
      opacity: 1;
      transform: translateY(0px);
      transition: transform .5s, opacity .5s linear;
    }
    .logo_in_black_none {
      /* display: none; */
      visibility: hidden;
      transition: visibility .5s, opacity .5s linear;
      opacity: 0;
      width: 43px;
      height: auto;
      /* padding-top: 7.013888888888889VW;
      margin-bottom: 11.11111111111111VW; */
    }
    .menu_in_black_none {
      /* display: none; */
      width: 43px;
      height: auto;
      opacity: 0;
      transition: visibility .5s, opacity .5s linear;
      visibility: hidden;
      /* padding-top: 7.013888888888889VW;
      margin-bottom: 11.11111111111111VW; */
    }
    .title_under_logo {
      max-width: 161px;
      margin: 0 44.44444444444444VW;
      text-align: left;
      /* position: relative; */
      /* left: 50px; */
      padding-bottom: 10.416666666666668VW;
      display: inherit;
      cursor: pointer;
      opacity: 1;
      transform: translateY(0px);
      transition: transform .5s, opacity .5s linear;
    }
  }
}

//////////////////////////////// MOBILE

   @media screen and (max-width: 768px) {
     .nuxt-link-exact-active::before {
          padding: 3.88889VW;
      }

      ////////////////// Scroll Menu

.container_header.active {
  .header_elements {
    min-height: 300px;
    
    .les_boulettes {
      display: flex;
      justify-content: space-between;
      position: fixed;
      left: 50%;
      transform: translate(-50%);
      width: 100%;
      padding: 40px 20px 0 20px;
        svg {
          #Page-1 {
            #M---MENU {
              fill: #3A3A3A;
            }
          }
        }
        .need_for_scroll {
          position: fixed;
          top: 0;
          left: 50%;
          display: flex;
          justify-content: space-between;
          transform: translate(-50%);
          width: 100%;
          padding: 10.666666666666668VW 20px 0 20px;
          /* transition: 2s all; */
          opacity: 1;
          transition: visibility .5s, opacity .5s linear;
          visibility: visible;
            .logo_in_black_none {
              width: 11.466666666666667VW;
              display: block;
            }
            .menu_in_black_none {
              width: 13.333333333333334VW;
              display: block;
            }
          }
      }
    .logo_size {
      display: none;
    }
    .title_under_logo {
      display: none;
    }
    div ul {
      display: none;
    }
  }
}


//////////////////////////////

    .container_header {
        max-height: 100px;
      .header_elements {
        font-size: 3.8095238095238098VW;
        min-height: 0px;
        text-align: initial;
        /* text-align: center; */
        /* padding: 0 10px; */
        padding: 0;
        .need_for_scroll {
          position: fixed;
          top: 0;
          left: 50%;
          display: flex;
          justify-content: space-between;
          transform: translate(-50%);
          width: 100%;
          padding: 4.013888888888889VW 20px 0 20px;
          /* transition: 2s all; */
          opacity: 1;
          transition: visibility .5s, opacity .5s linear;
          visibility: visible;
            .logo_in_black_none {
              width: 11.466666666666667VW;
            }
            .menu_in_black_none {
              width: 13.333333333333334VW;
            }
          }
        .logo_size {
          width: 100%;
          padding-top: 40px;
          display: initial;
          margin: 0;
        }
        .title_under_logo {
          max-width: 100%;
          margin: 0;
          text-align: inherit;
          position: relative;
          left: 0px;
          padding-bottom: 40px;
          padding-left: 92px;
          display: inherit;
          font-size: 2.1333333333333333VW;
        }
        .logo_in_black_none {
            display: none;
            visibility: hidden;
            transition: visibility .5s, opacity .5s linear;
            opacity: 0;
            width: 43px;
            height: auto;
            /* padding-top: 7.013888888888889VW;
            margin-bottom: 11.11111111111111VW; */
          }
          .menu_in_black_none {
            display: none;
            width: 43px;
            height: auto;
            opacity: 0;
            transition: visibility .5s, opacity .5s linear;
            visibility: hidden;
            /* padding-top: 7.013888888888889VW;
            margin-bottom: 11.11111111111111VW; */
          }
        .les_boulettes {
          svg {
          #Page-1 {
            fill: #3A3A3A;
            }
          }
        }
        div {
          display: flex;
          /* align-items: center; */
          /* justify-content: flex-start; */
          align-items: baseline;
          justify-content: space-between;
          color: #3A3A3A;
          padding-left: 20px;
          padding-right: 20px;
          ul {
            padding-left: 0;
            width: 559px;
            display: none;
            justify-content: space-around;
            
            li {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  //////////////////////////////// UNDER 1700
    @media screen and (min-width: 1466px) {
      .container_header {
        .header_elements {
          .title_under_logo {
            max-width: 11.180555555555555VW;
            left: 6.944444444444445VW;
          }
        }
      }
    }

///////////////////////////////////////////


</style>