<template>
  <div>
      <div class="w_preloader">
      </div>
      <div class="reveal-left">
          <div class="reveal-content" style="background-image:url(/img-accueil/preloader.jpg)"></div>
      </div>
  </div>
</template>

<script>
  export default {
    mounted() {
        document.body.style.overflowY = "hidden";
        setInterval(() => {
          document.body.style.overflowY = "inherit";
        }, 2000);
    }
  }
</script>

<style lang="scss" scoped>




.w_preloader {
  background-color: #3a3a3a;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateY(0%);
  /* transition: 2s all; */
  animation: revealUpGrey 680ms cubic-bezier(0.895,0.03,0.685,0.22) 1.56s forwards;
}

@keyframes revealUpGrey{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-200%);
  }
}

.reveal-left{
  width: 20%;
  height: 60%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}

///// Pour éviter que le bloc reste au centre
.reveal-left {
  animation: revealAll 640ms cubic-bezier(0.075,0.82,0.165,1) 5s forwards;
}

.reveal-left .reveal-content{
  width: 100%;
  height: 100%;
  clip-path: inset(0 100% 0 0);
  animation: revealUp 1s ease-in-out 0s forwards, revealUpAfter 640ms ease-in-out 1.66s forwards;
  transform: translateY(100px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 4%;
}
@keyframes revealAll{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(-200%);
  }
}
@keyframes revealUp{
  0%{
    clip-path: inset(100% 0 0 0);
    transform: translateY(100px);
  }
  100%{
    clip-path: inset(20% 0 0 0);
    transform: translateY(0px);
  }
}
@keyframes revealUpAfter{
  0%{
    clip-path: inset(20% 0 0 0);
    
  }
  100%{
    clip-path: inset(0 0 100% 0);
  
  }
}


//////////////////////////////// MOBILE

  @media screen and (max-width: 768px) {
    ////////////////////////////////////

    .reveal-left{
      width: 80%;
      height: 60%;
    }


////////////////////////////////////
  }

</style>