<template>
  <div>
    <AppNavPages/>
    <nuxt />
    <FooterHome/>
  </div>
</template>

<script>
import AppNavPages from '@/components/AppNavPages.vue';
import FooterHome from '@/components/FooterHome.vue';

export default {
  components: {
    AppNavPages,
    FooterHome
  },
  async fetch({store}) {
      await store.dispatch("getMicronutrition");
    },
}
</script>

<style>
html {
  font-family: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.111vw;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  /* width: 100%;
  overflow: hidden; */
}

.__nuxt {
  overflow: hidden;
}


@media screen and (max-width: 768px) {
  html {
    font-size: 4.267vw;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a, a:visited, a:active {
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

</style>
