<template>
  <div>
    <app-masthead/>
    <ImageTextHome/>
  </div>
</template>

<script>
import AppMasthead from '@/components/AppMasthead.vue';
import ImageTextHome from '@/components/ImageTextHome.vue';

export default {
  layout: 'defaut',

    components: {
      AppMasthead,
      ImageTextHome
    },

    head () {
      return {
        title: "Philippe Frey",
        meta: [
          { hid: 'description', name: 'description', content: 'Acide hyaluronique, peelings, lifiting par fil, ... différentes expertises afin de répondre à vos besoins.' }
        ]
      }
    },

    async fetch({store}) {
      await store.dispatch("getMicronutrition");
    },
}
</script>

<style lang="scss" scoped>

</style>