<template>
  <div>
    <!-- Bloc Texte - Texte - Texte -->
      <div>
        <div class="cms_bloc_ttt flex">
          <div class="col1 petit_titre">Mentions légales</div>
          <div class="col2">
          <h2>Editeur du site</h2>
          Docteur Philippe Frey
          <br>
          8 Impasse Ossip Zadkine
          <br>
          82000 Montauban
          </div>
          <div class="col3"></div>
        </div>
      </div>
  </div>
</template>

<script>
  export default {
    layout: 'pages',
    async fetch({store}) {
      await store.dispatch("getMicronutrition");
    },
  }
</script>

<style lang="scss" scoped>

 .cms_bloc_ttt {
    color: #3a3a3a;
    font-size: 1.0248901903367496VW;
    margin: 0 10.248901903367496VW;
    padding-bottom: 106px;
    display: flex;
    .col1 {
      width: 20%;
      font-size: 0.5856515373352855VW;
    }
    .col2 {
      margin-right: 40px;
      h2 {
        margin: 0;
      }
    }
    .col2, .col3 {
      width: 40%;
      font-size: 1.0248901903367496VW;
    }
    ::v-deep .col3 {
        ul li {
          list-style-type: none; /* on annule la puce par défaut */
          background-image: url("/img-accueil/_.svg"); /* on affiche l'image souhaitée */
          background-repeat: no-repeat; /* on annule la répétition par défaut */
          background-position: left center; /* on positionne où l'on veut */
          padding-left: 20px; /* pour éviter la superposition du contenu */
        }
    }
  }

    //////////////////////////////// MOBILE

    @media screen and (max-width: 768px) {
      ////////////////////////////////////
  .cms_bloc_ttt {
      font-size: 3.733333333333334VW;
      margin: 0;
      padding: 30px 10px 60px 10px;
      .col1 {
        width: 100%;
        font-size: 2.1333333333333333VW;
        padding-bottom: 20px;
      }
      .col2 {
        margin-right: 0;
      }
      .col2 {
        width: 100%;
        font-size: 3.733333333333334VW;
      }
      ::v-deep .col3 {
        padding: 0;
        ul {
          padding: 0;
        }
        ul li {
          padding-left: 40px; /* pour éviter la superposition du contenu */
        }
      }
    }
  }

</style>