<template>
  <div class="">
    <!-- Bloc Texte - Texte - Photo -->
      <div class="cms_bloc">
          <div class="cms_bloc_texte">
            <p class="titre">Politique de confidentialité</p>
            <p class="sous_titre"></p>
            <div class="flex">
              <div class="col1">
                <h2>Qui sommes-nous ?</h2>
                <br/>
                <p class="marginbAdresse">L’adresse de notre site Web est : https://docteur-frey-micronutrition.fr.</p>
                
                <h2>Utilisation des données personnelles collectées</h2>
                <br/>
                <h3>FORMULAIRES DE CONTACT</h3>
                <br/>
                <h3>COOKIES</h3>
                Si vous déposez un commentaire sur notre site, il vous sera proposé d’enregistrer votre nom, 
                adresse de messagerie et site web dans des cookies. C’est uniquement pour votre confort afin de 
                ne pas avoir à saisir ces informations si vous déposez un autre commentaire plus tard. Ces cookies 
                expirent au bout d’un an.
                <br/>
                <br/>
                Si vous avez un compte et que vous vous connectez sur ce site, un cookie temporaire sera créé afin de 
                déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et 
                sera supprimé automatiquement à la fermeture de votre navigateur.
              </div>
              <div class="col2">
                Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer 
                vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est 
                de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », 
                votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, 
                le cookie de connexion sera effacé.
                <br/>
                <br/>
                En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre 
                navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l’ID de la publication 
                que vous venez de modifier. Il expire au bout d’un jour.
              </div>
            </div>
          </div>
          <div class="image" :style="{ backgroundImage: 'url(' + require('@/assets/pdc-img.jpg') + ')' }"></div>
      </div>

  </div>
</template>

<script>
  export default {
    layout: 'pages',
    async fetch({store}) {
      await store.dispatch("getMicronutrition");
    },
  }
</script>

<style lang="scss" scoped>

.flex {
  display: flex;
}

.cms_bloc {
  display: flex;
  padding-bottom: 0;
  /* height: 700px; */
  .image {
    width: 40%;
    min-height: 700px;
    background-size: cover;
    background-position: inherit;
  }
  
  .cms_bloc_texte {
    width: 80%;
    max-height: 100%;
    margin: 0 140px; 
    position: relative;
    padding-bottom: 60px;
    font-family: "Nanum Myeongjo";
    color: #3a3a3a;
    .titre {
      font-size: 3.3674963396778916VW;
      padding-bottom: 60px;
      padding-top: 256px;
    }
    .sous_titre {
      font-size: 2.049780380673499VW;
      padding-bottom: 50px;
    }
    .flex {
      .col1 {
        margin-right: 40px;
        
        .marginbAdresse {
          margin-bottom: 20px;
        }
      }
      .col1, .col2 {
        width: 50%;
        padding-bottom: 60px;
        font-family: "DM Sans";
        font-size: 1.1111111111111112VW;
      }
    }
  }
}

    //////////////////////////////// MOBILE

    @media screen and (max-width: 768px) {
      ////////////////////////////////////
      .flex {
        display: block;
      }

      .cms_bloc {
        display: block;
        padding-bottom: 20px;
        /* height: 700px; */
        .image {
          width: 100%;
          min-height: 250px;
          background-size: cover;
          background-position: center;
        }
        
        .cms_bloc_texte {
          width: 100%;
          min-height: 700px;
          margin: 0; 
          padding: 0 10px 20px 10px;
          position: relative;
          font-family: "Nanum Myeongjo";
          color: #3a3a3a;
          .titre {
            font-size: 12.266666666666666VW;
            padding-bottom: 30px;
            padding-top: 26px;
          }
          .sous_titre {
            font-size: 7.466666666666668VW;
            padding-bottom: 30px;
          }
          .flex {
            .col1 {
              margin-right: 40px;
            }
            .col1, .col2 {
              width: 100%;
              padding-bottom: 20px;
              font-family: "DM Sans";
              font-size: 4.266666666666667VW;
            }
          }
        }
      }
    }
</style>